<div class="jumbotron">
    <h2 class="page-header">Projects</h2>
</div>
<!-- Custom Success/Error Message -->
<div class="row show-hide-message" *ngIf="message && newProject">
    <div [ngClass]="messageClass">
        {{ message }}
    </div>
</div>

<div class="container">


    <button type="button" name="button" class="btn btn-warning" *ngIf="!newProject" (click)="NewProjectForm()">New Post</button>

    <br />
    <br />

    <div *ngIf="!newProject">
        <!--<div class="row project-row">
            <div class="col-xs-6 col-lg-4">
                <h2>Heading</h2>
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
            </div>
        </div>-->
        <div class="card">
            <div class="card-header deep-orange lighten-1 white-text">
                Featured
            </div>
            <div class="card-body">
                <h4 class="card-title">Special title treatment</h4>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <button type="button" name="button" class="btn btn-default"><a class="btn btn-deep-orange">Go somewhere</a></button>
            </div>
        </div>
    </div>