<div class="jumbotron">
    <h2 class="page-header">Projects</h2>
</div>
<!--  Success/Error Message -->
<div class="row show-hide-message" *ngIf="message && newProject">
    <div [ngClass]="messageClass">
        {{ message }}
    </div>
</div>

<div class="container">

    <button type="button" name="button" class="btn btn-warning" *ngIf="!newProject" (click)="NewProjectForm()">New Project</button>
    <br>
    <br>

    <form [formGroup]="newProjectForm" name="projectForm" (submit)="onProjectSubmit()" *ngIf="newProject">
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" name="title" class="form-control" placeholder="*Blog Title" autocomplete="off" formControlName="title" />
        </div>

        <div class="form-group">
            <label for="description">Description</label>
            <textarea name="description" rows="8" cols="80" placeholder="*Description" class="form-control" formControlName="description"></textarea>
        </div>

        <button [disabled]="processing" type="button" (click)="goBack()" name="button" class="btn btn-warning">Go Back</button>
        <button [disabled]="processing" type="submit" name="button" class="btn btn-success">Submit</button>

    </form>

    <div *ngIf="!newProject">

        <div class="card" *ngFor="let project of projects">
            <div class="card-header deep-orange lighten-1 white-text">
            </div>
            <div class="card-body">
                <h4 class="card-title">{{ project.title }}</h4>
                <p class="card-text"> {{ project.createdBy }} </p>
                <button [routerLink]="['/project/', project._id]" type="button" name="button" class="btn btn-default"><a class="btn btn-deep-orange">More Information</a></button>
            </div>
        </div>
    </div>